:root {
  --color-primary-50: 214 224 233;  /* Color 1 */
  --color-primary-150: 215 225 234;  /* Color 2 */
  --color-primary-250: 216 226 235;  /* Color 3 */
  --color-primary-350: 217 227 236;  /* Color 4 */
  --color-primary-450: 218 229 235;  /* Color 5 */
  --color-primary-550: 218 228 237;  /* Color 6 */
  --color-primary-650: 219 230 236;  /* Color 7 */
  --color-primary-750: 220 231 237;  /* Color 8 */
  --color-primary-850: 230 235 239;  /* Color 9 */
  --color-primary-950: 231 236 239;  /* Color 10 */
}
