:root {
  --color-primary-50: 225 235 242;  /* Tono más claro */
  --color-primary-100: 181 207 225;  /* Tono claro */
  --color-primary-200: 136 179 207;  /* Tono claro */
  --color-primary-300: 92 151 188;  /* Tono claro */
  --color-primary-400: 67 122 157;  /* Tono claro */
  --color-primary-500: 45 93 126;  /* Tono intermedio */
  --color-primary-600: 41 84 113;  /* Tono oscuro */
  --color-primary-700: 36 74 99;  /* Tono oscuro */
  --color-primary-800: 32 64 85;  /* Tono oscuro */
  --color-primary-900: 27 54 72;  /* Tono más oscuro */
  --color-primary-950: 23 45 59;  /* Tono más oscuro */
}